body {
  background-color: #414144;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: bottom, center;
  font-family: Arial, sans-serif;
  color: black;
}

h1 {
  color: #fbf7f5;
  text-align: center;
}

h2 {
  color: #fbf7f5;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

th, 
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: #fbf7f5;
}

.FAILURE {
  background-color: red;
}

.MAJOR {
  background-color: red;
}

.MINOR {
  background-color: orange;
}

.PATCH {
  background-color: yellow;
}

.SAME {
  background-color: lightgreen;
}

.NOTFOUND {
  background-color: skyblue;
}

.UNKNOWN {
  background-color: skyblue;
}

.NODATA {
  background-color: skyblue;
}
